#body {
    -fx-background-color: white;
}


/* all header content*/

#header {
    -fx-alignment: center;
    -fx-padding: 1em;
    -fx-spacing: 1em;
}

#profileButton {
}

#title {
    -fx-font-family: 'NeueRegular', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

#logoutButton {
}

/* end of all header content*/


/* all footer content */
#footer {
    -fx-alignment: center;
    -fx-padding: 1em;
}
/* end of all footer content */