/*Credentials Container Styles*/
.login_container {
    -fx-background-color: white;
}

#welcomeBackText {
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

#loginButton {
    -fx-background-color: #87CEFA;
    -fx-text-fill: white;
}

#textBoxText {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

/*Logo Container Styles*/
.login_logo_container {
    -fx-background-color: linear-gradient(to right, #87CEFA, white);
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-weight: bold;
    -fx-font-size: 4em;
    -fx-fill: black;
}