/*Credentials Container Styles*/
.signUp_container {
    -fx-background-color: white;
}

#welcomeText {
    -fx-font-weight: bold;
    -fx-font-size: 2.5em;
}

#signUp_signUpButton {
    -fx-background-color: #C792E9;
    -fx-text-fill: white;
}

#textBoxText {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

/*Logo Container Styles*/
.signUp_logo_container {
    -fx-background-color: linear-gradient(to right, white, #C792E9);
    -fx-alignment: center;
}

.signUp_logo_container Text {
    -fx-font-weight: bold;
    -fx-font-size: 4em;
    -fx-fill: black;
}